:root{
    --primary-color: #3056bf;
    --secondary-color:#001a4b93; 
}


body{
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/7e/92/c4/7e92c4705aa62eab12558c755e7d3699.jpg) center;
    box-sizing: border-box;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--secondary-color);
    color: #fff;
}

.logo{
    padding-left: 20px;
    margin-left: 20px;
}


.searchbar{
    padding: 30px 0 0 0;
}

.searchbar input{
    background: rgb(230, 230, 230);
    border: 1px solid #fff;
    padding: 10px 80px 10px 10px;
    color: #333;
    border-radius: 20px;
    outline: none;
}


.searchbar button{
    margin-left: -40px;
    font-size: 15px;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.searchbar button i{
    color: #333;
}

.searchbar input placeholder{
    color: #fff;
}

.login-sec{
    color: #fff;
    font-size: 20px;
}

.login-sec span{
    font-size: 20px;
}

header .login-sec ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 30px;
    margin-top: 35px;
}


header .login-sec ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/* body content */

.all-content{
    display: grid;
}

/* SIDEBAR */

.sidebar{
    margin-top: 85px;
    position: fixed;
    background: var(--secondary-color);
    height: 100vh;
}

.sidebar ul li{
    list-style: none;
    padding: 20px;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.sidebar .active{
    background: #fff;
    color: #000;
    transition: 0.3;
}

.sidebar .active a{
    color: var(--primary-color);
    font-weight: bold;
} 

/* middle content */

.middle-content{
    margin-top: 100px;
    margin-left: 150px;
    width: 60%;
    z-index: -1;
}

/* CHATBOX */

 .chatbox{
    position: fixed;
    background:#00081fb7 ;
    margin-left: 78%;
    margin-top: 100px;
}

.chatbox .chat-head{
    padding: 0 80px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    color: #fff;
}

.chatbox .chatarea{
    padding: 40px 0 150px;
}

.chatbox .chat-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chatbox .chat-type input{
    outline: none;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-bottom: 5px;
}

.chatbox .chat-type button{
    font-size: 15px;
    outline: none;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 8px;
    border: none;
    border-radius: 50%;
    background: rgb(4, 156, 110);
}

.chatbox .chat-type button i{
    color: #fff;    
}


.chatbox .notification{
    background: rgb(43, 43, 43);
    color: #fff;

}

.notification .noti-content{
    padding: 10px;
} 

/* reviews middle content */

/* FOOTER */

.footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
    width: 100%;
    background: var(--secondary-color);
}

.footer .sec1{
   padding-right: 20px;
   color: #fff;
}

.footer .sec1 h1{
    font-size: 30px;
    font-family: 'Satisfy', cursive;}

.footer .sec1 p{
    font-size: 15px;
    font-weight: 100;
}

.footer .sec2{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.footer .sec2  li{
    list-style: none;
}

.footer .sec2 h1{
    font-size: 30px;
}

.footer .sec2  li a{
    color: #fff;
    text-decoration: none;
}

.footer .sec3{
    color: #fff;
    margin-right: 30px;
}

.footer .sec4{
    padding-top: 80px;
}

.footer .sec4 img{
    border: 1px solid #fff;
}

.footer .sec4 .grid-img img{
    width: 50px;
    z-index: 1;
}

.footer .sec4 .grid-img img:hover{
    width: 400px;
}
